body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
}
.landing-page {
  position: relative;
  height: 900px;
  width: 100%;
  object-fit: cover;
}
.landing-img {
  height: 100%;
  width: 100%;
}
.landing-text {
  position: absolute;
  left: 15%;
  top: 15%;
  animation-name: heading-animation;
  animation-duration: 2s;
}
.text-info {
  font-size: 100px;
  font-family: 'Scheherazade New', serif;
  font-weight: 100;
  line-height: 110%;
  color: #f5f5dc;
  border-bottom: 1px solid #f5f5dc;
  margin-bottom: 0;
}
@keyframes heading-animation {
  from {
    top: 0;
  }
  to {
    top: 15%;
  }
}
.container-text {
  background-color: #f5f5dc;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 400px;
  width: 100%;
}
.container-text-img {
  height: 400px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
}
.container-text-img > img {
  height: 100%;
}
.text-about {
  height: 400px;
  font-family: 'Scheherazade New', serif;
  font-weight: 100;
  font-size: 20px;
}
.about-heading {
  text-align: center;
}
.about-para {
  padding-left: 10px;
  width: 90%;
  text-align: center;
  line-height: 25px;
}
.flex-img {
  display: flex;
  height: 500px;
  width: 100%;
  background-color: #f5f5dc;
  gap: 15px;
  justify-content: center;
}
.flex-img > img {
  height: 100%;
  width: 400px;
}
.logo {
  background-color: #f5f5dc;
  text-align: center;
  height: 200px;
}
.logo > img {
  height: 100%;
}
.container-text-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #f5f5dc;
}
.container-text-img.second {
  padding-left: 50px;
}
.about-heading-2 {
  text-align: center;
}
.container {
  position: relative;
  width: 100%;
  min-height: 400px;
  background: rgba(245, 245, 220, 0.25);
  background-color: #f5f5dc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  /* box-shadow: 0 25px 45px rgb(0, 0, 0, ); */
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  background: rgba(245, 245, 220, 0.25);
}
.form h2{
  border-bottom: 1px dotted #000;
  border-radius: 10px;
  position: relative;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-align: center;
}
.form h2:before{
  content: '';
  position: absolute;
  left: 76px;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #f5f5dc;
}
.form .inputBx {
  width: 100%;
  margin-top: 20px;
}
.form .inputBx input {
  width: 90%;
  background: rgba(245, 245, 220, 0.25);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
}
.form .inputBx textarea {
  width: 90%;
  height: 140px;
  resize: none;
  background: rgba(245, 245, 220, 0.25);
  border: none;
  outline: none;
  padding: 10px 5px;
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #000 !important;
  box-shadow: 0 5px 15px rgba(7, 0, 0, 0.05);
}
.form .inputBx input::placeholder {
  color: #000;
}
.form .inputBx textarea::placeholder {
  color: #000;
}
.form .inputBx input[type='submit'] {
  background: #000;
  color: #666;
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 80px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.form .inputBx input[type='submit']:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  font-weight: 600;
  border: 1px solid #000;
}
.text{
  margin-top: 5px;
  color: #000;
}
.text a{
  margin-top: 5px;
  color: rgb(158, 144, 144);
}
@media only screen and (min-width: 2000px) {
  .container-text {
    align-items: center;
    justify-content: center;
    height: 700px;
    gap: 80px;
  }
  .container-text-img {
    height: 600px;
    width: unset;
  }
  .text-about {
    height: 600px;
    width: 50%;
  }
  .about-para {
    width: unset;
    line-height: 50px;
  }
  .about-heading {
    font-size: 50px;
    border-bottom: 1px solid #000;
  }
  .logo {
    height: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    min-height: unset;
    border: none;
  }
  .landing-page {
    height: auto;
  }
  .text-info {
    font-size: 40px;
  }
  .about-heading {
    font-size: 35px;
  }
  .container-text {
    flex-direction: column;
    align-items: center;
    height: unset;
  }
  .text-about {
    height: unset;
  }
  .container-text-img {
    padding: 0;
    width: 95%;
  }
  .container-text-img > img{
    width: 100%;
  }
  .flex-img {
    flex-direction: column;
    height: unset;
    align-items: center;
  }
  .flex-img > img {
    width: 95%;
  }
  .logo {
    height: 300px;
  }
  .logo > img {
    width: 100%;
  }
  .logo-2 {
    height: 250px;
    background-color: #f5f5dc;
    text-align: center;
  }
  .logo-2 > img {
    height: 100%;
  }
  .container-text-2 {
    flex-direction: column;
  }
  .container-text-img.second {
    padding: 0;
  }
  .form .inputBx input[type='submit'] {
    margin-left: 0;
  }
}
